# environment file
.env

# macOS metadata
.DS_Store
*.json

# IDE Settings (the trailing slash indicates that all the subfolders inside .vscode to be ignored too)
.vscode/ 

__pycache__/

chroma_store/
projects/techmantra/src/db/triage.db